[submodule "Scripts/InteractiveHtmlBom"]
	path = Scripts/InteractiveHtmlBom
	url = https://github.com/openscopeproject/InteractiveHtmlBom.git
[submodule "KiBoM"]
	path = KiBoM
	url = https://github.com/SchrodingersGat/KiBoM.git
[submodule "Scripts/KiBoM"]
	path = Scripts/KiBoM
	url = https://github.com/SchrodingersGat/KiBoM.git
